/********************************MEDIDAS UNIVERSALES****************************/


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


img {
  width: 100%;
}

.container {
  margin: auto;
}


body {
  background-color:cornflowerblue;
}

/********************************NAVBAR****************************/

.navbar {
  border-bottom: 1px white solid;
}

/********************************FORMULARIO****************************/

.formulario {
  padding-top: 12em;
}

input {
  display: inline-block;
  border: 1px solid #d1d1d1;
  outline: none;
  background: rgba(95, 94, 94, 0.2);
  background-color: rgb(212, 0, 184);
  vertical-align: middle;
  list-style-type: none;
  line-height: 2em;
  text-align: center;
  font-size: 4em;
  font-family: "TimesNewRoman";
}

/********************************TABLA****************************/

.table {
  margin-top: 1em;
}

tbody{
  background-color: cyan;
}