/********************************MEDIDAS UNIVERSALES****************************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}

img {
  width: 100%;
}

.container {
  margin: auto;
}

body {
  background-color: #3f0071;
}

h1, h3, h2 {
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}

/********************************FORMULARIO****************************/
.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 2rem 0;
}

.formulario__input {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  text-decoration: none;
}

.add {
  margin: 2rem 0 2rem 0;
  font-family: courier, sans-serif;
  font-weight: 600;
  background-color: #610094;
  font-size: 2rem;
  text-align: center;
  color: white;
  cursor: pointer;
  max-width: 260px;
  width: 100%;
  outline: 3px solid;
  outline-color: #150050;
  outline-offset: 10px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.add:hover {
  color: #150050;
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 300px;
}

/********************************NAVBAR****************************/
.navbar {
  border-bottom: 1px black solid;
  background-color: #150050;
}

.navbar-toggler {
  background-color: #3f0071;
  border-color: #610094;
}

/********************************TABLA****************************/
.tabla__origen__tabla {
  background-color: #610094;
  display: grid;
  height: 100%;
  width: auto;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.tabla__origen__tabla__title {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  border-bottom: 1px solid black;
}

.tabla__origen__tabla__title {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

th {
  width: 200px;
  padding: 1rem;
}

.about {
  display: flex;
  flex-wrap: wrap;
  padding: 4em 0 4em 0;
  margin: 4em 0 0 0;
  background-color: #3f0071;
  justify-content: center;
}

img {
  display: flex;
  width: 44em;
}

/* * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * */
/* IPAD */
@media (min-width: 1px) and (max-width: 991.98px) {
  img {
    justify-content: center;
    width: 20rem;
    height: auto;
    align-items: center;
  }

  .about {
    margin: 0;
    padding: 0 0 1rem 0;
  }
}
/* COMPUTADORA CHICA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  img {
    width: 30em;
    align-self: center;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.glosario {
  padding: 1em 0 3em 0;
  background-color: #610094;
}

p {
  justify-content: center;
  text-align: center;
}

.sub_title {
  display: flex;
  text-align: center;
}

.contacto {
  background-color: #3f0071;
}

.contacto__contenido {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 2rem;
}

/*# sourceMappingURL=style.css.map */
