$azul: rgb(21, 0, 80);
$violeta: rgb(63, 0, 113);
$violeta_claro: rgb(97, 0, 148);
$negro: rgb(0, 0, 0);

.about {
    display: flex;
    flex-wrap: wrap;
    padding: 4em 0 4em 0;
    margin: 4em 0 0 0;
    background-color: $violeta;
    justify-content: center;
}


img {
    display: flex;
    width: 44em;
}

/* * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * */

/* IPAD */

@media (min-width: 1px) and (max-width: 991.98px) {
    img {
        justify-content: center;
        width: 20rem;
        height: auto;
        align-items: center;
    }
    .about{
        margin: 0;
        padding: 0 0 1rem 0;
    }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {
    img {
        width: 30em;
        align-self: center;
    }
    .about {
        display: flex;
    
        align-items: center;
        justify-content: center;
    }
}