$azul: rgb(21, 0, 80);
$violeta: rgb(63, 0, 113);
$violeta_claro: rgb(97, 0, 148);
$negro: rgb(0, 0, 0);

.contacto {
    background-color: $violeta;
}
.contacto__contenido {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 2rem;
}