/********************************FORMULARIO****************************/

.formulario {
  margin-top: 8em;
}

input {
  border: 1px solid #d1d1d1;
  outline: none;
  background: rgba(95, 94, 94, 0.2);
  background-color: rgb(212, 0, 184);
  line-height: 2em;
  text-align: center;
  font-size: 2em;
  font-family: "TimesNewRoman";
}