/********************************FORMULARIO****************************/
$azul: rgb(21, 0, 80);
$violeta: rgb(63, 0, 113);
$violeta_claro: rgb(97, 0, 148);
$negro: rgb(0, 0, 0);

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 2rem 0;
}

.formulario__input{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input{
  text-decoration: none;
}

.titulo{
  font-size: 2rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $violeta, 0 0 40px $violeta,
    0 0 10px $violeta, 0 0 60px $violeta, 0 0 70px $violeta;
}

.add {
  margin: 2rem 0 2rem 0;
	font-family: courier, sans-serif;
	font-weight: 600;
  background-color: $violeta_claro;
	font-size: 2rem;
	text-align: center;
	color: white;
  cursor: pointer;
  max-width: 260px; 
  width: 100%; 
  outline: 3px solid;
  outline-color: $azul;
  outline-offset: 10px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $violeta_claro, 0 0 40px $violeta_claro,
  0 0 50px white, 0 0 40px $violeta_claro, 0 0 70px $violeta_claro;
}

.add:hover {
	color: $azul;
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 300px;
}





