$azul: rgb(21, 0, 80);
$violeta: rgb(63, 0, 113);
$violeta_claro: rgb(97, 0, 148);
$negro: rgb(0, 0, 0);

.glosario {
    padding: 1em 0 3em 0;
    background-color: $violeta_claro;
}

.glosario h2 {
    font-size: 3rem;
}

.glosario_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 5rem;
    margin: 0 5rem;
}

.glosario_item {
    padding: 50px;
    text-align: center;
    border-radius: 50px;
    background: #610094;
    box-shadow:  30px -30px 60px #31004a,
             -30px 30px 60px #9200de;

}

.glosario_item h3{
    font-size: 2rem;
}

p {
    justify-content: center;
    text-align: center;
}

.sub_title {
    display:flex;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $violeta_claro, 0 0 40px $violeta_claro,
      0 0 50px white, 0 0 60px $violeta_claro, 0 0 70px $violeta_claro;
    margin: 0 0 2rem 0;
}

.sub_title_ul{
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/* * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * */

/* IPAD */

@media (min-width: 1px) and (max-width: 991.98px) {
    .glosario_grid { 
        grid-template-columns: 100%;
        margin: 0 1rem;
    }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .glosario_grid { 
        grid-template-columns: 1fr 1fr;
        margin: 0 1rem;
    }
}