$azul: rgb(21, 0, 80);
$violeta: rgb(63, 0, 113);
$violeta_claro: rgb(97, 0, 148);
$negro: rgb(0, 0, 0);

.glosario {
    padding: 1em 0 3em 0;
    background-color: $violeta_claro;
}

.glosario h2 {
    font-size: 3rem;
}

.glosario_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.glosario_item {
    background-color: $violeta_claro;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}

.glosario_item h3{
    font-size: 2rem;
}

p {
    justify-content: center;
    text-align: center;
}

.sub_title {
    display:flex;
    text-align: center;
}

.sub_title_ul{
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/* * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * */

/* IPAD */

@media (min-width: 1px) and (max-width: 991.98px) {
    .glosario_grid { 
        grid-template-columns: 100%;
    }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .glosario_grid { 
        grid-template-columns: 50% 50% ;
    }
}