$casi_celeste: #E4FBFF;
$azul_claro: #B8B5FF;
$azul_oscuro: #7868E6;
$gris: #EDEEF7;

body.lightMode{
    background-color: $azul_claro;
    color: black;

    *{
        color: black;
    }

    .lmode{
        background: url('../imagenes/luna.png');
        top: 24%; left: 48%;
    }

    .navbar{
        background-color: $azul_claro;
        border-bottom: 1px white solid;
    }


    .about{
        background-color: $azul_claro; 
    }

    .contacto{
        background-color: $azul_oscuro
    }

    .glosario{
        background-color: $gris;
    }

    .formulario{
        background: url('../imagenes/wave1.svg');
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
        align-items: center;
    }

    .add{
        background-color: $azul_oscuro;
        outline-color: $gris;
        outline-offset: 10px;
        transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $azul_claro, 0 0 40px $azul_claro,
        0 0 50px white, 0 0 40px $azul_claro, 0 0 70px $azul_claro;
    }

    .tabla__origen__tabla{
        border-radius: 50px;
        background: #7868E6;
        box-shadow:  30px 30px 60px #6658c4,
                     -30px 30px 60px #8a78ff;
    }

    .glosario_item{
        border-radius: 50px;
        background: #7868E6;
        box-shadow:  30px 30px 60px #6658c4,
                     -30px 30px 60px #8a78ff;
    }

    .sub_title .contacto h2 {
        text-shadow: 0 0 10px #6658c4, 0 0 20px #6658c4, 0 0 30px $azul_claro, 0 0 40px $azul_claro,
        0 0 50px #6658c4, 0 0 60px $azul_claro, 0 0 70px $azul_claro;
      margin: 0 0 2rem 0;
    }

    .titulo {
        text-shadow: 0 0 10px $azul_oscuro, 0 0 20px $azul_oscuro, 0 0 30px $azul_claro, 0 0 40px $azul_claro,
        0 0 50px $azul_oscuro, 0 0 60px $azul_claro, 0 0 70px $azul_claro;
      margin: 0 0 2rem 0;
    }

    .navbar-toggler {
        background-color: $azul_oscuro;
        border-color: $azul_claro;
    }

}