/********************************NAVBAR****************************/
$azul: rgb(21, 0, 80);
$violeta: rgb(63, 0, 113);
$violeta_claro: rgb(97, 0, 148);
$negro: rgb(0, 0, 0);

.navbar {
    border-bottom: 1px $negro solid;
    background-color: $azul;
}

.navbar-toggler {
  background-color: $violeta;
  border-color: $violeta_claro;
}