/********************************MEDIDAS UNIVERSALES****************************/
$azul: rgb(21, 0, 80);
$violeta: rgb(63, 0, 113);
$violeta_claro: rgb(97, 0, 148);
$negro: rgb(0, 0, 0);

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
  }
  
  
  img {
    width: 100%;
  }
  
  .container {
    margin: auto;
  }
  
  
  body {
    background-color: $violeta;
  }

  h1 {
    text-align: center;
    justify-content: center;
    margin-top: 2em
  }

  h2 {
    @extend h1;
  }

  h3{
    @extend h1;
  }
